[Unit]
Description=Open source threat feed auto blocker
After=network.target firewalld.service
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=3

[Service]
Type=simple
# Run as root due /etc & /var dir manipulation
User=root
Group=root
ExecStart=/usr/local/bin/firewalld-ext --refresh
Restart=on-failure
RestartSec=60
StandardOutput=journal
StandardError=journal
SyslogIdentifier=firewalld-ext
# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/etc/firewalld
ReadWritePaths=/var/lib/firewalld-ext
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
MemoryDenyWriteExecute=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
WorkingDirectory=/var/lib/firewalld-ext

[Install]
WantedBy=multi-user.target
