[Unit]
Description=Firewalld Extension (threat feed auto-blocker)
After=network.target firewalld.service
Wants=network-online.target

[Service]
Type=simple
# Run as root due to manipulating firewalld and /etc/ /var/ directories
User=root
Group=root
ExecStart=/usr/local/bin/firewalld-ext --complete-refresh
Restart=on-failure
WorkingDirectory=/var/lib/firewalld-ext
StandardOutput=journal
StandardError=journal
SyslogIdentifier=firewalld-ext

[Install]
WantedBy=multi-user.target
